.headermain,
footer {
  text-align: center;
}

p {
  margin: 0;
}

.container-fluid {
  text-align: center;
}

body {
  padding: 5em;
  background: rgba(229, 184, 243, 1);
}

h1 {
  font-size: 16px;
  font-size: 4vw;
  color: rgba(35, 0, 101, 1);
  font-family: "Impact", serif;
}

img {
  width: 25em;
  max-width: 100%;
  height: auto;
  padding: .5em;
}

.marketing-image-container {
  text-align: center;
}
